/* 폭죽 */
.firework1 {
  animation: firework1 1.2s both infinite;
  animation-delay: 0.1s;
  top: 60%;
  left: 65%;
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #ff382e;
}

.firework2 {
  animation: firework2 1.2s both infinite;
  animation-delay: 0.1s;
  top: 55%;
  left: 50%;
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #ff6933;
}

.firework3 {
  animation: firework3 1.2s both infinite;
  animation-delay: 0.1s;
  top: 65%;
  left: 85%;
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #ff9c38;
}

.firework4 {
  animation: firework4 1.2s both infinite;
  animation-delay: 0.1s;
  top: 50%;
  left: 35%;
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #ffd53d;
}

.firework5 {
  animation: firework5 1.2s both infinite;
  animation-delay: 0.1s;
  top: 35%;
  left: 60%;
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #ffe680;
}


@keyframes firework1 {
  0%,
  100% {
    opacity: 0;
  }
  10%,
  70% {
    opacity: 1;
  }
  100% {
    box-shadow: -5rem 0rem 0 #ff382e, 5rem 0rem 0 #ff382e, 0rem -5rem 0 #ff382e,
      0rem 5rem 0 #ff382e, 3.5rem -3.5rem 0 #ff382e, 3.5rem 3.5rem 0 #ff382e,
      -3.5rem -3.5rem 0 #ff382e, -3.5rem 3.5rem 0 #ff382e;
  }
}
@keyframes firework2 {
  0%,
  100% {
    opacity: 0;
  }
  10%,
  70% {
    opacity: 1;
  }
  100% {
    box-shadow: -5rem 0rem 0 #ff6933, 5rem 0rem 0 #ff6933,
      0rem -5rem 0 #ff6933, 0rem 5rem 0 #ff6933, 3.5rem -3.5rem 0 #ff6933,
      3.5rem 3.5rem 0 #ff6933, -3.5rem -3.5rem 0 #ff6933,
      -3.5rem 3.5rem 0 #ff6933;
  }
}
@keyframes firework3 {
  0%,
  100% {
    opacity: 0;
  }
  10%,
  70% {
    opacity: 1;
  }
  100% {
    box-shadow: -5rem 0rem 0 #ff9c38, 5rem 0rem 0 #ff9c38,
      0rem -5rem 0 #ff9c38, 0rem 5rem 0 #ff9c38, 3.5rem -3.5rem 0 #ff9c38,
      3.5rem 3.5rem 0 #ff9c38, -3.5rem -3.5rem 0 #ff9c38,
      -3.5rem 3.5rem 0 #ff9c38;
  }
}
@keyframes firework4 {
  0%,
  100% {
    opacity: 0;
  }
  10%,
  70% {
    opacity: 1;
  }
  100% {
    box-shadow: -5rem 0rem 0 #ffd53d, 5rem 0rem 0 #ffd53d, 0rem -5rem 0 #ffd53d,
      0rem 5rem 0 #ffd53d, 3.5rem -3.5rem 0 #ffd53d, 3.5rem 3.5rem 0 #ffd53d,
      -3.5rem -3.5rem 0 #ffd53d, -3.5rem 3.5rem 0 #ffd53d;
  }
}
@keyframes firework5 {
  0%,
  100% {
    opacity: 0;
  }
  10%,
  70% {
    opacity: 1;
  }
  100% {
    box-shadow: -5rem 0rem 0 #ffe680, 5rem 0rem 0 #ffe680, 0rem -5rem 0 #ffe680,
      0rem 5rem 0 #ffe680, 3.5rem -3.5rem 0 #ffe680, 3.5rem 3.5rem 0 #ffe680,
      -3.5rem -3.5rem 0 #ffe680, -3.5rem 3.5rem 0 #ffe680;
  }
}




/* 점수 애니메이션 */

.score-box::before,
.score-box::after{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  /* border: 2px solid red; */
  background-repeat: no-repeat;
}
.score-box.animate::before{
  top:-40%;
  background-image: radial-gradient(circle, var(--bubble-color) 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, var(--bubble-color) 20%, transparent 30%),
    radial-gradient(circle, var(--bubble-color) 20%, transparent 20%),
    radial-gradient(circle, var(--bubble-color) 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, var(--bubble-color) 15%, transparent 20%),
    radial-gradient(circle, var(--bubble-color) 20%, transparent 20%),
    radial-gradient(circle, var(--bubble-color) 20%, transparent 20%),
    radial-gradient(circle, var(--bubble-color) 20%, transparent 20%),
    radial-gradient(circle, var(--bubble-color) 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  animation: greentopBubbles ease-in-out 0.6s forwards infinite;
}
@keyframes greentopBubbles {
  0% {
    background-position: 20% 90%, 25% 90%, 25% 90%, 30% 90%, 40% 90%, 40% 90%,
    55% 90%, 70% 90%, 85% 90%;
  }
  50% {
    background-position: 5% 80%, 5% 20%, 15% 40%, 25% 0%, 50% 30%, 27% 50%,
  70% 50%, 80% 20%, 95% 70%;
  }
  100% {
    background-position: 5% 70%, 5% 10%, 15% 30%, 25% -10%, 50% 20%, 27% 40%,
      70% 40%, 80% 10%, 95% 70%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
.score-box.animate::after{
  bottom:-60%;
  background-image: radial-gradient(circle, var(--bubble-color) 20%, transparent 20%),
    radial-gradient(circle, var(--bubble-color) 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, var(--bubble-color) 15%, transparent 20%),
    radial-gradient(circle, var(--bubble-color) 20%, transparent 20%),
    radial-gradient(circle, var(--bubble-color) 20%, transparent 20%),
    radial-gradient(circle, var(--bubble-color) 20%, transparent 20%),
    radial-gradient(circle, var(--bubble-color) 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  animation: greenbottomBubbles ease-in-out 0.6s forwards infinite;
}
@keyframes greenbottomBubbles {
  0% {
    background-position: 15% 0%, 30% 10%, 55% 0%, 70% 0%, 85% 0%,
      70% 0%, 70% 0%;
  }
  50% {
    background-position: 0% 20%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }
  100% {
    background-position: 0% 20%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}